<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checking key...</title>
</head>
<body>
    <div style="display: flex;">Checking access to <div id="username"><%=username%></div>'s account...</div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const username = document.getElementById("username").innerHTML
        console.log("rendered with " + username)
        const token = sessionStorage.getItem("auth_key")
        console.log(token)
        console.log(`fetching http://localhost:3000/api/account/${username}`)
        axios.get(`http://localhost:3000/api/account/${username}`,{headers: {
        Authorisation: 'Bearer ' + token 
        }})
    </script>
</body>
</html>