<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Main</title>
</head>
<body>
    <div id="name">name</div>
    <a href="http://localhost:3000/login">login</a>
    <a href="http://localhost:3000/game">game</a>
</body>
</html>