<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Log in</title>
</head>
<body>
    <a href="http://localhost:3000/">main page</a>
    <h1>Log in</h1>
    <form class="form" id="login-form">
        <input type="text" id="username-input" placeholder="username">
        <input type="password" id="password-input" placeholder="password">
        <button type="submit" id="send-form">Log-in</button>
    </form>
    <div id="login-response">Enter login and password to log-in</div>
    <div>To create an account click <a href="http://localhost:3000/signup">here</a></div>
    <button id="draw">draw</button>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="login.js"></script>
</body>
</html>