<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <form class="form" id="login-form">
        <input type="text" id="username-input" placeholder="username">
        <input type="password" id="password-input" placeholder="password">
        <button type="submit" id="send-form">Sign-up</button>
    </form>
    <div id="login-response">Enter login and password to sign-up</div>
    <div>If you have an account click <a href="http://localhost:3000/login">here</a> to log-in</div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="signup.js"></script>
</body>
</html>