body{
  margin: 0;
  height: 100vh;
}
#chat-box{
  width: 300px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: lightblue;
  flex-direction: column;
}

.message{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 300px;
  word-wrap: break-word;
}

.send-message{
  display: flex;
  /* justify-content: center; */
  place-items: center;
}

.send-message > *{
  height: 30px;
}
.send-message > button{
  width: 30%;
}
.send-message > input{
  width: 70%;
}

.card-inside{
  margin: 0px;
  font-size: 50px;
  width: 100%;
  height: 100%;
  grid-row: 2/span 3;
  grid-column: 2;
  display: grid;
  place-items: center;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
}
.c23 :nth-child(1) {
  grid-column: 2;
  grid-row: 1;

}

.c467 :nth-child(1) {
  grid-column: 1;
  grid-row: 1;
} :nth-child(2){
  grid-column: 3;
  grid-row: 1;
}

/* .c5 {

}

.c890 {

}

.cJQKA {
  nth
} */

#cards {
  flex-wrap: wrap;
  margin: 10px;
  display: flex;
}

.red {
  color: red;
}

.black{
  color:black;
}

#menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.second{
  transform: scale(-1, -1);
  grid-row: 4/span 2;
  grid-column: 3;
}

.card-hitbox{
  width: 100%;
  height: 100%;
  grid-row: 1/span 5;
  grid-column: 1/span 3;
}

.first{
  grid-row: 1/span 2;
  grid-column: 1;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.card{
  font-size: 25px;
  border-radius: 20px;
  border:2px black solid;
  margin: 20px;
  height: 350px;
  width: 250px;
  background-color: white;
  display: grid;
  grid-template-columns:  30px 190px 30px;
  grid-template-rows: 20px 40px 230px 40px 20px;
  place-items: center;
}

.selected{
  transform: scale(1.1,1.1);
}

.rev {
  transform: scale(-1, -1);
}


.card-image {
  width: 100%;
  height: 100%;
  grid-row: 2/span 3;
  grid-column: 2;

}

card-image.img{
  width: 100%;
  height: 100%;
}

#page{
  height: 100%;
  display: flex;

}

/* #game{

  grid-template-rows: 45% 10% 45%;
  grid-template-columns: 20% 80%;
  height: 100%;

} */

#menu > button{
  width: 100px;
  font-size: 25px;
}

#hand{
  height: 45%;
  justify-content: center;
  display: flex;
}

#opponents{
  height: 45%;
}

#game{
  display: flex;
  flex-direction: column;
  flex: 2;
}

.form{
  display: flex;
  flex-direction: column;
  width: 300px;
}

