
.chat-box{
  font-size: 20px;
  width: 300px;
  height:800px;
  display: flex;
  justify-content: flex-end;
  background-color: lightblue;
  flex-direction: column;
}

.message{
  
  width: 300px;
  word-wrap: break-word;
}

.send-message{
  display: flex;
  /* justify-content: center; */
  place-items: center;
}

.send-message > *{
  height: 30px;
}
.send-message > button{
  width: 30%;
}
.send-message > input{
  width: 70%;
}
